<p id="notice"><%= notice %></p>
<div class="jumbotron">
<h1>Sign into CFYA!</h1>
  <%= render 'form' %>
</div>
Member Listing
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Dinners</th>
      <th>Lessons</th>
      
    </tr>
  </thead>
  <tbody id="members">
    <% @members.each do |member| %>
      <%= render 'member', member: member %>
    <% end %>
  </tbody>
</table>
